
<div class="content-mensajes">
  <div *ngIf="mensajeHabitaciondisponible" class="alert alert-success" role="alert">
    {{mensajeHabitaciondisponible}} <a href="#" class="alert-link">CONTINUAR</a>
  </div>
  <div *ngIf="mensajeError" class="alert alert-danger" role="alert">
    {{mensajeError}}
  </div>
</div>


<section class="section">
  <div class="container">
    <div class="row equal-height">
      <div class="col-md-8">
        <app-carrusel></app-carrusel>
      </div>
      <div class="col-md-4">
        <app-formulario-reservacion></app-formulario-reservacion>
      </div>
    </div>
  </div>
</section>
