app-slider {
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
  display: inherit;
}
.content-mensajes {
  display: flex;
  align-items: center;
  /* Centra verticalmente */
  justify-content: center;
  /* Centra horizontalmente */
}

.alert {
  width: 100%;
  text-align: center;
  --bs-alert-margin-bottom: 0;
  --bs-alert-border-radius: 0;
}

.section {
  padding-block-start: 24px;
  background-color: var(--primary-color);
}
