.contenedor-carrousel {
	width: 100%;
  height: 100%;
	position: relative;
	aspect-ratio: var(--aspect-ratio);
	--aspect-ratio: 4/2;

	& .contenido-carrousel,
	.carrousel-item {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
		transition: all 0.5s ease;
	}

	& .contenido-carrousel::before {
		content: '';
		width: 100%;
		height: 100%;
		background: #0005;
		position: absolute;
		z-index: 1;
	}

	& .btn-control {
		height: 100%;
		position: absolute;
		padding-inline: 0.5rem;
		z-index: 10;
		background: none;
		border: none;

		& svg {
			width: 32px;
			height: 32px;
			stroke: var(--mid_light);
			transition-property: all;
			transition-timing-function: cubic-bezier(.4, 0, .2, 1);
			transition-duration: .15s;
			pointer-events: none;
		}

		&:hover svg {
			stroke: hsla(240, 100%, 99.67%, 1);
		}
	}
}

.carrousel-caption {
	width: 100%;
	max-width: 480px;
	min-width: 0;
	display: inline-block;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9;
}

.imagen-carrousel {
	width: 100%;
	height: 100%;
	position: relative;
	aspect-ratio: var(--aspect-ratio);
	object-fit: cover;
}

.btn-control-next {
	right: 0;
	top: 0;
}

.btn-control-preview {
	left: 0;
	top: 0;
}

.contenido-carrousel .carrousel-item:not(.carrousel-item:first-child) {
	display: none;
}

@media screen and (max-width: 1180px) {
	.carrousel-caption {
    max-width: 360px;
  }
}

@media screen and (max-width: 1024px) {
	.carrousel-caption {
    max-width: 360px;
  }
}

@media screen and (max-width: 1024px) {
	.carrousel-caption {
    max-width: 320px;
  }
}

@media screen and (max-width: 1016px) {
	.carrousel-caption {
    max-width: 320px;
  }
}

@media screen and (max-width: 994px) {
	.carrousel-caption {
    max-width: 280px;
  }
}

@media screen and (max-width: 829px) {
	.carrousel-caption {
    max-width: 280px;
  }
}

@media screen and (max-width: 820px) {
	.carrousel-caption {
    max-width: 280px;
  }
}

@media screen and (max-width: 768px) {
	.carrousel-caption {
    max-width: fit-content;
  }
}

@media screen and (max-width: 690px) {
	.carrousel-caption {
    max-width: fit-content;
  }
}
