<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="row w-100 align-items-center">
          <div class="col-lg-3 d-flex align-items-center">
            <span class="me-2">Síguenos:</span>
            <a href="#" class="me-2"><i class="bi bi-instagram"></i></a>
            <a href="#" class="me-2"><i class="bi bi-facebook"></i></a>
            <a href="#" class="me-2"><i class="bi bi-twitter"></i></a>
          </div>
          <div class="col-lg-6 text-center">
            <a class="navbar-brand" href="#">
              <img src="/assets/img/logo2.png" alt="Hotel HC" width="314" height="48">
            </a>
            <div class="cell-lg-4 cell-xl-3 reveal-lg-flex">

            </div>
          </div>
          <div class="col-lg-3 text-end">
            <div class="d-flex align-items-center justify-content-end">
              <i class="bi bi-telephone-fill me-2"></i>
              <a href="tel:+529831052243">+52 983-105-2243</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sobre Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contactos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
