.room-card {
  position: relative;
  overflow: hidden;
}

.room-image {
  cursor: pointer;
  &:hover .room-thumb {
    transform: scale(1.2) rotate(2deg);
  }
}

.room-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.room-card:hover .room-overlay {
  opacity: 1;
}

.room-content {
  text-align: center;
  color: white;
  padding: 2rem;
  & > div {
    margin-block-end: 1rem;
  }
}

.room-title {
  font-size: 1.5rem;
  margin-block-end: 0.2rem;
}

.room-description {
  font-size: 1rem;
  margin: 0;
}

.room-thumb {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 240ms ease;
}
