<section class="rooms-section py-5">
    <div class="container">
        <h2 class="display-4 mb-3">Cuartos Disponibles</h2>

        <p class="text-muted mb-5">
            "El Hotel HC, inspirado en la calidez y serenidad de sus inicios,
            ofrece ahora una experiencia de alojamiento única con habitaciones diseñadas
            para brindar tanto lujo como comodidad. Cada espacio está decorado con detalles y
            acabados seleccionados cuidadosamente, reflejando la esencia y evolución del hotel
            desde sus primeras cabañas hasta el día de hoy. En el Hotel HC, los huéspedes pueden
            elegir entre una variedad de ambientes únicos y acogedores que invitan al descanso y
            a disfrutar de una estancia memorable."
        </p>

        <div class="row g-4" style="justify-content: center;">
            <div class="col-md-4" *ngFor="let room of rooms">
                <div class="room-card">
                    <div class="room-image" >
                        <!-- Using a placeholder image with the correct dimensions -->
                        <div class="bg-light w-100 room-thumb" style="aspect-ratio: 4/3;" [style.backgroundImage]="'url(' + room.mainImage + ')'">

                        </div>
                        <div class="room-overlay">
                            <div class="room-content">
                                <div (click)="verDetalleCuarto(room)">
                                    <h3 class="room-title Nll_clamp">{{room.title}}</h3>
                                    <p class="room-description Nll_clamp-[2]">{{room.description}}</p>
                                </div>
                                <button type="button" class="btn btn-primary" (click)="reservarCuarto(room)">Reservar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-modal-imagen-zoom *ngIf="verCuarto && cuartoSeleccionado" [images]="cuartoSeleccionado.images"
        (close)="cerrarDetalleCuarto()"></app-modal-imagen-zoom>
</section>
