<div id="carruselEjemploConSubtitulos" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carruselEjemploConSubtitulos" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Diapositiva 1"></button>
        <button type="button" data-bs-target="#carruselEjemploConSubtitulos" data-bs-slide-to="1"
            aria-label="Diapositiva 2"></button>
        <button type="button" data-bs-target="#carruselEjemploConSubtitulos" data-bs-slide-to="2"
            aria-label="Diapositiva 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5500">
            <img src="/assets/img/1.jpg" class="d-block w-100" alt="Tu Retiro Ideal">
            <div class="carousel-caption d-none d-md-block text-start">
                <h1 class="display-4 fw-bold">Tu Retiro Ideal</h1>
                <div class="grupo-subtitulo-slider">
                    <div class="linea-decoracion"></div>
                    <h4>Disfruta el mundo de la relajación</h4>
                    <h3>y la tranquilidad!</h3>
                </div>
                <a class="btn btn-outline-light btn-lg mt-3" href="sobre-nosotros.html">
                    <span>Saber más</span>
                </a>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="5500">
            <img src="/assets/img/2.jpg" class="d-block w-100" alt="Relájate y Desconecta">
            <div class="carousel-caption d-none d-md-block text-start">
                <h1 class="display-4 fw-bold">Relájate y Desconecta</h1>
                <div class="grupo-subtitulo-slider">
                    <div class="linea-decoracion"></div>
                    <h4>Experimenta la variedad de cuertos</h4>
                    <h3>de nuestros hotel</h3>
                </div>
                <a class="btn btn-outline-light btn-lg mt-3" href="sobre-nosotros.html">
                    <span>Saber más</span>
                </a>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="5500">
            <img src="/assets/img/3.jpg" class="d-block w-100" alt="Revitaliza y Relájate">
            <div class="carousel-caption d-none d-md-block text-start">
                <h1 class="display-4 fw-bold">Revitaliza y Relájate</h1>
                <div class="grupo-subtitulo-slider">
                    <div class="linea-decoracion"></div>
                    <h4>Disfruta de nuestro restaurante</h4>
                    <h3>con excelentes y variados platillos</h3>
                </div>
                <a class="btn btn-outline-light btn-lg mt-3" href="sobre-nosotros.html">
                    <span>Saber más</span>
                </a>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carruselEjemploConSubtitulos"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carruselEjemploConSubtitulos"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>